<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<h1>Paintings#index</h1>
<p>Find me in app/views/paintings/index.html.erb</p>
